.footer-container {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 890px;
}

.footer-container a {
	margin-bottom: 5px;
	height: 30px;
}

.footer-container a:hover {
	border-bottom: 1px solid var(--text);
}
