.footer-container {
	height: 100px;
}

.footer-container a {
	margin-bottom: 5px;
	height: 30px;
}

.footer-container a:hover {
	border-bottom: 1px solid var(--text);
}

@media screen and (max-width: 600px) {
	.footer-container h3 {
		font-size: 30px;
		letter-spacing: 1px;
	}

	.footer-container span {
		font-size: 10px;
	}

	.footer-container a {
		font-size: 12px;
		height: 20px;
	}
}
