@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #fde8db;
	--secondary: #ff9a76;
	--tertiary: #ffffff;
	--text: #4c4c4c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.landing-page {
	color: var(--text);
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	overflow: hidden;
}

.hide-scrollbar-y {
	scrollbar-width: none !important;
}

.hide-scrollbar-y::-webkit-scrollbar {
	display: none;
}

.ais-InfiniteHits-loadPrevious,
.ais-InfiniteHits-loadMore {
	display: none !important;
}

.ais-InfiniteHits-item {
	padding: 0 !important;
	margin-bottom: 20px !important;
	box-shadow: none !important;
}

.ais-SearchBox-input {
	box-shadow: none !important;
	border: none !important;
	background-color: rgba(0, 0, 0, 0.05) !important;
	border-radius: 30px !important;
	font-size: 14px !important;
}

.ais-SearchBox {
	margin-bottom: 20px !important;
}
