@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #fde8db;
	--secondary: #ff9a76;
	--tertiary: #ffffff;
	--text: #4c4c4c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.landing-page {
	color: var(--text);
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	background-color: red;
	overflow: hidden;
}

.hide-scrollbar-y {
	scrollbar-width: none !important;
}

.hide-scrollbar-y::-webkit-scrollbar {
	display: none;
}
